body {
    font-size: 12px;
}

.hidden { display: none; }

.clear {
    clear: both;
}

#logo {
    background:url('../images/logo.gif') no-repeat;
    height: 60px;
}

#mainTab>div.tabs-header>div.tabs-scroller-left {
    border-left-width: 0px;
}
#mainTab>div.tabs-header>div.tabs-scroller-right {
    border-right-width: 0px;
    border-left-width: 0px;
}

#mainTab>div.tabs-panels>div.panel>div.panel-body {
    overflow-y: hidden;
}

.tabs-tool table {
    border-width: 0px; border-collapse: collapse; border-spacing: 0px;
}
.tabs-tool table td {
    padding: 0px;
}




